.pokedex-outline {
  width: 100vw;
  background-color: #FF0000;
  height: 77vh;
}

.pokedex-screen {
  height: 40vh;
  background-color: white;
  display: table;
  margin: 0 auto;
  width: 78vw;
  border: 1px solid black;
}