@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');
@import '../App/App.scss';

.pokedex-outline {
  background: linear-gradient(to left, #FF0000 4%, #CC0000 100%);
  border: 2px solid black;
  font-family: 'Fira Mono', monospace;
  height: 76vh;
  width: minmax(400px, 800px);
  left: 0;
  position: absolute;
  right: 0;
  border-top: none;
  border-radius: 0 0 25px 25px;
}

.pokedex-screen {
  @include pixelate(5px, #6285b0, #6994bd);
  border: 8px outset #211911;
  display: flex;
  flex-flow: column;
  height: 59vh;
  margin: 0 auto;
  width: 78vw;
}

select {
  @include pixelate(5px, #6285b0, #6994bd);
  font-family: 'Fira Mono', monospace;
  font-size: 1.8em;
  height: 12%;
  width: 85%;
}

.d-pad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.d-pad {
  background: black;
  box-shadow: 0 0 2px 2px rgba(0,0,0, .3);
  height: 25px;
  width: 25px;
}

.controller {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 25px 0;
}

.d-pad.top {
  grid-column: 2;
  grid-row: 1;
}

.d-pad.left {
  grid-column: 1;
  grid-row: 2;
}

.d-pad.middle {
  grid-column: 2;
  grid-row: 2;
}

.d-pad.right {
  grid-column: 3;
  grid-row: 2;
}

.d-pad.bottom {
  grid-column: 2;
  grid-row: 3;
}

.control-buttons {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.buttons {
  align-items: center;
  background: black;
  border-radius: 50%;
  border: 1px solid dimgrey;
  box-shadow: 0 0 2px 2px rgba(0,0,0, .3);
  color: rgba(255,255,255,.75);
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
  cursor: pointer;
}

.block {
  display: block;
}

@media screen and (min-width: 750px) {
  .pokedex-screen {
    width: 29vw;
    height: 57vh;
  }

  // .pokemon-pic {
  //   width: 21vw;
  //   height: 30vh;
  //   max-width: 21vw;
  //   max-height: 30vh;
  // }

  .controller {
    justify-content: space-evenly;
  }

  .pokedex-outline {
    left: 30%;
    right: 30%;
  }

  html {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
  }
}
