.single-pokemon {
  height: 40vh;
  filter: brightness(0%);
  -webkit-user-drag: none;
}

.visible {
  filter: none;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-button {
  border: 3px solid #1e65a7;
  background: radial-gradient(#3d7dca, #1e65a7);
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 31px;
  font-weight: 700;
  height: 10vh;
  width: 46%;
  margin: 2%;
  box-shadow: 2px 2px 3px grey;
}


.streak-tile {
  width: 6em;
  border: 3px solid black;
}

.tile-holder {
  display: flex;
  justify-content: space-between;
}

.tile-font {
  font-size: 1.4em;
}

.best-tile {
  width: 6em;
  border: 3px solid black;
}

.pic-left {
  display: none;
}

.pic-right {
  display: none;
}

@media screen and (min-width: 1310px){
  
.tile-holder {
  display: flex;
  justify-content: space-around;
  width: 37.3em;
}

.pic-left {
 display: inline-block;
 position: relative;
 height: 59em;
 width: 27%;
 float: left;
}

.pic-right {
  display: inline-block;
  float: right;
  height: 63em;
  bottom: 97px;
  position: relative;
}



}

