@import '../App/App.scss';

.single-pokemon {
    height: 35vh;
    -webkit-user-drag: none;
    margin: 0px;
    filter: brightness(0);
    align-self: center;
}

.visible {
  filter: none;
}

.choices {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex-screen-game {
  @include pixelate(5px, #6285b0, #6994bd);
  border: 8px outset #211911;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  height: 59vh;
  width: 78vw;
  margin: 0 auto;
}

.pokemon-button {
  border: 3px solid #1e65a7;
  @include pixelate(3px, #3d7dca, #1e65a7);
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 18px;
  font-weight: 700;
  height: 5vh;
  width: 43%;
  margin: 2%;
  box-shadow: 2px 2px 3px grey;
}

.tile-holder {
  display: flex;
  justify-content: space-between;
}

.tile-font {
  font-size: 1.4em;
}

@media screen and (min-width: 1310px){
  
  .tile-holder {
    display: flex;
    justify-content: space-around;
  }

  .choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }

  .feedback-tile {
    font-size: 13px;
  }

  .pokedex-outline {
    left: 20%;
    right: 20%;
  }


}

@media screen and (min-width: 750px) {
  .pokedex-screen-game {
    width: 38vw;
  }
}
