header {
  background: linear-gradient(to top left, #FF0000 4%, #CC0000 100%);
  padding: 2%;
  height: 20vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pokemon-title {
  font-family: 'Pokemon Solid Normal';
  font-size: 34px;
  -webkit-text-stroke: 1px #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  letter-spacing: 2px;
}

@font-face {
font-family: 'Pokemon Hollow Normal';
font-style: normal;
font-weight: normal;
src: local('Pokemon Hollow Normal'), url('../../assets/Pokemon Hollow.woff') format('woff');
}

@font-face {
font-family: 'Pokemon Solid Normal';
font-style: normal;
font-weight: normal;
src: local('Pokemon Solid Normal'), url('../../assets/Pokemon Solid.woff') format('woff');
}

li {
  list-style: none;
  display: inline-block;
}
