header {
  background: linear-gradient(to left, #FF0000 4%, #CC0000 100%);
  border-left: 2px solid;
  border-right: 2px solid;
  box-sizing: border-box;
  height: 23vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
  border-top: 2px solid black;
}

.pokemon-title {
  font-family: 'Pokemon Solid Normal';
  font-size: 34px;
  -webkit-text-stroke: 1px #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  letter-spacing: 2px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.Pokédex {
  font-size: 56px;
  margin-bottom: 11px;
}

@font-face {
  font-family: 'Pokemon Hollow Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Hollow Normal'), url('../../assets/Pokemon Hollow.woff') format('woff');
}

@font-face {
  font-family: 'Pokemon Solid Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'), url('../../assets/Pokemon Solid.woff') format('woff');
}

ul{
  display: flex;
  margin: 0px;
  padding-right: 2em;
  align-content: center;
  justify-content: space-around;
}

li {
  list-style: none;
  margin-right: 10px;
}

button {
  height: 2em;
  width: 7em;
  background: radial-gradient(#6285b0, #6994bd);
  border-radius: 5px;
  color: white;
  text-shadow: 2px grey;
  line-height: 1.5em;
  font-size: 1.3em;
  padding: 0px 0px;
  letter-spacing: .1em;
}

.current-location {
  button {
    background: radial-gradient(#1e65a7, #3d7dca, #6994bd);
    box-shadow: inset 3px 3px 13px black;
  }
}

@media screen and (min-width: 750px){
  header {
    width: 40%;
    margin-left: 30%;
  }
  .pokemon-title {
    height: 10vh;
    width: 20vw;
    margin-bottom: 4vh;
  }
}

@media screen and (max-height: 600px) {
  button {
    height: 1.5em;
    width: 7em;
    font-size: 1.1em;
  }
}